<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Индивидуальный маршрут,Санкт-петербург,пансион,воспитанниц">
        <meta name="author" content="TEYHD">
        <meta name="description" content="Индивидуальный маршрут - Санкт-Петербургского Пансиона воспитанниц">
        <script
        src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.js"></script>
        <link href="/css/main.css" rel="stylesheet">
        <title>{{title}}</title>
    </head>