<li class="divider"></li>
<li><a href="/">Главная страница<i class="material-icons">exit_to_app</i></a></li>
<li><a class="modal-trigger" href="#modal2" name="Err">Записаться на консультацию<i class=" material-icons">control_point</i></a></li>
<li class="divider"></li> 
<li><a href="/manual">Инструкции<i class="material-icons">insert_drive_file</i></a></li> 
<li><a class="modal-trigger" href="#modal3" name="Err">Сообщить об ошибке<i class=" material-icons">error_outline</i></a></li>