<h4>Инструкция для старших курса</h4>
 <div class="input-field col s12 center">
<iframe id="frame" src="exportlms.pdf" width="100%" height="900px">не удалось показать документ</iframe>
</div>
<h4>Инструкция для воспитанниц и родителей</h4>
<h4>Инструкция для воспитателей/классных руководителей</h4>
<h4>Инструкция для педагогов</h4>
<h4>Инструкция для администрации</h4>